<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="rebue.onl.mapper.OnlOnlineMapper">
  <resultMap id="BaseResultMap" type="rebue.onl.mo.OnlOnlineMo">
    <!-- 查询已上线商品返回值 -->
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="ONLINE_TITLE" jdbcType="VARCHAR" property="onlineTitle" />
    <result column="ONLINE_DETAIL" jdbcType="VARCHAR" property="onlineDetail" />
    <result column="ONLINE_STATE" jdbcType="TINYINT" property="onlineState" />
    <result column="ONLINE_TIME" jdbcType="TIMESTAMP" property="onlineTime" />
    <result column="ONLINE_ID" jdbcType="VARCHAR" property="onlineId" />
  </resultMap>
  
  <!-- 已上线商品信息返回值 -->
  <resultMap id="OnlineGoodsInfoResultMap" type="rebue.onl.ro.OnlOnlineGoodsInfoRo">
  	<id column="ID" jdbcType="INTEGER" property="onlineId" />
  	<result column="ONLINE_TITLE" jdbcType="VARCHAR" property="onlineTitle" />
  	<result column="PIC_PATH" jdbcType="VARCHAR" property="picPath" />
  	<result column="ONLINE_SPEC" jdbcType="VARCHAR" property="onlineSpec" />
  	<result column="SALE_PRICE" jdbcType="DECIMAL" property="salePrice" />
  	<result column="CASHBACK_AMOUNT" jdbcType="DECIMAL" property="cashbackAmount" />
  	<result column="SPEC_ID" jdbcType="INTEGER" property="specId" />
  	<result column="ONLINE_DETAIL" jdbcType="VARCHAR" property="onlineDetail" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on 2018-04-08 11:13:11.
    -->
    ID, ONLINE_TITLE, ONLINE_DETAIL, ONLINE_STATE, OP_ID, ONLINE_TIME, PRODUCE_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on 2018-04-08 11:13:11.
    -->
    select 
    <include refid="Base_Column_List" />
    from ONL_ONLINE
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on 2018-04-08 11:13:11.
    -->
    delete from ONL_ONLINE
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="rebue.onl.mo.OnlOnlineMo">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on 2018-04-08 11:13:11.
    -->
    insert into ONL_ONLINE (ID, ONLINE_TITLE, ONLINE_DETAIL, 
      ONLINE_STATE, OP_ID, ONLINE_TIME, 
      PRODUCE_ID)
    values (#{id,jdbcType=BIGINT}, #{onlineTitle,jdbcType=VARCHAR}, #{onlineDetail,jdbcType=VARCHAR}, 
      #{onlineState,jdbcType=TINYINT}, #{opId,jdbcType=BIGINT}, #{onlineTime,jdbcType=TIMESTAMP}, 
      #{produceId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="rebue.onl.mo.OnlOnlineMo">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on 2018-04-08 11:13:11.
    -->
    insert into ONL_ONLINE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="onlineTitle != null">
        ONLINE_TITLE,
      </if>
      <if test="onlineDetail != null">
        ONLINE_DETAIL,
      </if>
      <if test="onlineState != null">
        ONLINE_STATE,
      </if>
      <if test="opId != null">
        OP_ID,
      </if>
      <if test="onlineTime != null">
        ONLINE_TIME,
      </if>
      <if test="produceId != null">
        PRODUCE_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="onlineTitle != null">
        #{onlineTitle,jdbcType=VARCHAR},
      </if>
      <if test="onlineDetail != null">
        #{onlineDetail,jdbcType=VARCHAR},
      </if>
      <if test="onlineState != null">
        #{onlineState,jdbcType=TINYINT},
      </if>
      <if test="opId != null">
        #{opId,jdbcType=BIGINT},
      </if>
      <if test="onlineTime != null">
        #{onlineTime,jdbcType=TIMESTAMP},
      </if>
      <if test="produceId != null">
        #{produceId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="rebue.onl.mo.OnlOnlineMo">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on 2018-04-08 11:13:11.
    -->
    update ONL_ONLINE
    <set>
      <if test="onlineTitle != null">
        ONLINE_TITLE = #{onlineTitle,jdbcType=VARCHAR},
      </if>
      <if test="onlineDetail != null">
        ONLINE_DETAIL = #{onlineDetail,jdbcType=VARCHAR},
      </if>
      <if test="onlineState != null">
        ONLINE_STATE = #{onlineState,jdbcType=TINYINT},
      </if>
      <if test="opId != null">
        OP_ID = #{opId,jdbcType=BIGINT},
      </if>
      <if test="onlineTime != null">
        ONLINE_TIME = #{onlineTime,jdbcType=TIMESTAMP},
      </if>
      <if test="produceId != null">
        PRODUCE_ID = #{produceId,jdbcType=BIGINT},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="rebue.onl.mo.OnlOnlineMo">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on 2018-04-08 11:13:11.
    -->
    update ONL_ONLINE
    set ONLINE_TITLE = #{onlineTitle,jdbcType=VARCHAR},
      ONLINE_DETAIL = #{onlineDetail,jdbcType=VARCHAR},
      ONLINE_STATE = #{onlineState,jdbcType=TINYINT},
      OP_ID = #{opId,jdbcType=BIGINT},
      ONLINE_TIME = #{onlineTime,jdbcType=TIMESTAMP},
      PRODUCE_ID = #{produceId,jdbcType=BIGINT}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectAll" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on 2018-04-08 11:13:11.
    -->
    select ID, ONLINE_TITLE, ONLINE_DETAIL, ONLINE_STATE, OP_ID, ONLINE_TIME, PRODUCE_ID
    from ONL_ONLINE
  </select>
  <select id="existByPrimaryKey" parameterType="java.lang.Long" resultType="boolean">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on 2018-04-08 11:13:11.
    -->
    select count(*) 
    from ONL_ONLINE
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <select id="existSelective" parameterType="rebue.onl.mo.OnlOnlineMo" resultType="boolean">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on 2018-04-08 11:13:11.
    -->
    select count(*) 
    from ONL_ONLINE
    <where>
      <if test="id != null and id != ''">
        and ID = #{id,jdbcType=BIGINT}
      </if>
      <if test="onlineTitle != null and onlineTitle != ''">
        and ONLINE_TITLE = #{onlineTitle,jdbcType=VARCHAR}
      </if>
      <if test="onlineDetail != null and onlineDetail != ''">
        and ONLINE_DETAIL = #{onlineDetail,jdbcType=VARCHAR}
      </if>
      <if test="onlineState != null and onlineState != ''">
        and ONLINE_STATE = #{onlineState,jdbcType=TINYINT}
      </if>
      <if test="opId != null and opId != ''">
        and OP_ID = #{opId,jdbcType=BIGINT}
      </if>
      <if test="onlineTime != null and onlineTime != ''">
        and ONLINE_TIME = #{onlineTime,jdbcType=TIMESTAMP}
      </if>
      <if test="produceId != null and produceId != ''">
        and PRODUCE_ID = #{produceId,jdbcType=BIGINT}
      </if>
    </where>
  </select>
  <select id="selectSelective" parameterType="rebue.onl.mo.OnlOnlineMo" resultMap="BaseResultMap">
    <!-- 根据条件查询商品上线信息  -->
    SELECT oo.*, oop.ONLINE_ID FROM ONL_ONLINE oo LEFT JOIN ONL_ONLINE_PROMOTION oop ON oo.ID = oop.ONLINE_ID
    <where>
      <if test="onlineTitle != null and onlineTitle != ''">
        and oo.ONLINE_TITLE LIKE '%${onlineTitle}%'
      </if>
      <if test="onlineDetail != null and onlineDetail != ''">
        and oo.ONLINE_DETAIL = #{onlineDetail,jdbcType=VARCHAR}
      </if>
      <if test="onlineState != null">
        and oo.ONLINE_STATE = #{onlineState,jdbcType=TINYINT}
      </if>
      <if test="onlineTime != null">
        and oo.ONLINE_TIME = #{onlineTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
  
  <!-- 获取上线商品列表信息 -->
  <select id="selectOnlineGoodsList" parameterType="java.util.Map" resultMap="OnlineGoodsInfoResultMap">
  	SELECT oo.ID, oo.ONLINE_TITLE, oopc.PIC_PATH, oos.ONLINE_SPEC, oos.SALE_PRICE, oos.CASHBACK_AMOUNT, oos.ID AS SPEC_ID, oo.ONLINE_DETAIL
	FROM ONL_ONLINE oo
	LEFT JOIN ONL_ONLINE_SPEC oos ON oos.ID = (
		SELECT MIN(ID) FROM ONL_ONLINE_SPEC WHERE SALE_PRICE=(SELECT min(SALE_PRICE) FROM ONL_ONLINE_SPEC WHERE ONLINE_ID=oo.ID)
	)
	LEFT JOIN ONL_ONLINE_PIC oopc ON oo.ID=oopc.ONLINE_ID
	WHERE 1=1 AND oo.ID IN (
		SELECT ONLINE_ID FROM ONL_ONLINE_SPEC WHERE SALE_PRICE=(SELECT min(SALE_PRICE) FROM ONL_ONLINE_SPEC WHERE ONLINE_ID = oo.ID)
	) AND oo.ONLINE_STATE=1 AND oopc.PIC_TYPE=1
	<if test="id != null and id != '' ">
		AND oo.ID = #{id,jdbcType=BIGINT}
	</if>
	<if test="id == null or id == '' ">
		order by ${sortname} ${sortOrder} LIMIT ${start}, ${size}
	</if>
  </select>
  
  <!-- 根据上线编号获取商品详情信息 -->
  <select id="selectOnlineGoodsDetails" parameterType="rebue.onl.mo.OnlOnlineMo" resultMap="OnlineGoodsInfoResultMap">
  	SELECT oo.ID, oo.ONLINE_TITLE, oopc.PIC_PATH, oos.ONLINE_SPEC, oos.SALE_PRICE, oos.CASHBACK_AMOUNT, oos.ID AS SPEC_ID, oo.ONLINE_DETAIL
	FROM ONL_ONLINE oo
	LEFT JOIN ONL_ONLINE_SPEC oos ON oos.ID = (
		SELECT MIN(ID) FROM ONL_ONLINE_SPEC WHERE SALE_PRICE=(SELECT min(SALE_PRICE) FROM ONL_ONLINE_SPEC WHERE ONLINE_ID=oo.ID)
	)
	LEFT JOIN ONL_ONLINE_PIC oopc ON oo.ID=oopc.ONLINE_ID
	WHERE 1=1 AND oo.ID IN (
		SELECT ONLINE_ID FROM ONL_ONLINE_SPEC WHERE SALE_PRICE=(SELECT min(SALE_PRICE) FROM ONL_ONLINE_SPEC WHERE ONLINE_ID = oo.ID)
	) AND oo.ONLINE_STATE=1 AND oopc.PIC_TYPE=1 AND oo.ID=#{id,jdbcType=BIGINT}
  </select>
</mapper>